azure-cognitiveservices-speech
azure-core
beautifulsoup4
celery
distro
Django
djangorestframework
Jinja2
jiter
jiwer
joblib
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
langchain
langchain-core
langchain-openai
langchain-text-splitters
langdetect
langsmith
lark
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
pydub
pandas
pandocfilters
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
setuptools
SQLAlchemy
sqlparse
stack-data
starlette
whatsapp-utils
gunicorn